/* $Id$ */

.print-link {
  position:relative;
  bottom: 0.5em;
  float:right;
  margin-left: 1em;
}

.print-syslink {
  margin-right: 1em;
}

img.print-icon {
  vertical-align: middle;
}

img.print-icon-margin {
  margin-right: 4px;
}

label.printmail-label {
  width: 175px;
  float: left;
}
