body {margin: 1em;background-color: #fff;}
th {text-align: left;color: #006;border-bottom: 1px solid #ccc;}
tr.odd {background-color: #ddd;}
tr.even {background-color: #fff;}
td {padding: 5px;}
#menu {visibility: hidden;}
#main {margin: 1em;}

a:link {color: #000;}
a:visited {color: #000;}
a:hover {color: #00f}
a:link img, a:visited img {border:0}

.print-footnote {font-size:small;}
.print-logo {border:0;}
.print-site_name {}
.print-title {font-size:200%;font-weight: bold;margin:0.67em 0 0.67em 0}
.print-submitted {}
.print-created {}
.print-content {}
.print-hr {border:0;height:1px;width:100%;color:#9E9E9E;background-color:#9E9E9E;}
.print-source_url {}
.print-links {font-size:small;}
.print-footer {text-align:center;}
